Repository murrple-1/react-native-adyen: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ktlint --color --format --android, swiftlint lint --format --fix

.lintstagedrc:

{
  "*.(js|jsx|ts|tsx|html|scss|json)": "prettier --write",
  ".(prettier|lintstaged)rc": "prettier --write",
  "*.code-workspace": "prettier --write",
  "*.kt": "ktlint --color --format --android",
  "*.swift": "swiftlint lint --format --fix"
}

a bunch of work on the new data flow pattern
  android/build.gradle
  android/src/main/java/com/reactnativeadyen/DropInServiceImpl.kt
  android/src/main/java/com/reactnativeadyen/RNAdyenModule.kt
  example/src/App.tsx
  ios/RNAdyenModule-Bridging-Header.h
  ios/RNAdyenModule.m
  ios/RNAdyenModule.swift
  src/index.ts
Due: ktlint --color --format --android, swiftlint lint --format --fix

small iOS fix
  ios/RNAdyenModule.swift
Due: swiftlint lint --format --fix

updating dependencies
  example-server/yarn.lock
  example/android/gradle.properties
  example/ios/Podfile
  example/ios/Podfile.lock
  example/package.json
  example/yarn.lock
  package.json
  yarn.lock
Due: none

fixing iOS compile
  example/package.json
  example/yarn.lock
Due: none

finishing the re-implementation
  android/src/main/java/com/reactnativeadyen/DropInServiceImpl.kt
  android/src/main/java/com/reactnativeadyen/RNAdyenModule.kt
  example/package.json
  ios/RNAdyenModule.swift
  src/index.ts
Due: ktlint --color --format --android, swiftlint lint --format --fix

upping version
  package.json
Due: none

fixing when errors are passed to native
  src/index.ts
Due: none

hopefully stopping react methods from being removed by proguard/minifier
  android/src/main/java/com/reactnativeadyen/RNAdyenModule.kt
Due: ktlint --color --format --android

Revert "hopefully stopping react methods from being removed by proguard/minifier"
  android/src/main/java/com/reactnativeadyen/RNAdyenModule.kt
Due: ktlint --color --format --android

handle bad response from JS
  android/src/main/java/com/reactnativeadyen/RNAdyenModule.kt
Due: ktlint --color --format --android

more bad JS response handling
  android/src/main/java/com/reactnativeadyen/RNAdyenModule.kt
Due: ktlint --color --format --android

Android error handling improvements
  android/src/main/java/com/reactnativeadyen/RNAdyenModule.kt
Due: ktlint --color --format --android

Android error handling improvements 2
  android/src/main/java/com/reactnativeadyen/RNAdyenModule.kt
Due: ktlint --color --format --android

iOS fix warning
  example/ios/Podfile
  example/ios/Podfile.lock
  ios/RNAdyenModule.swift
Due: swiftlint lint --format --fix

more error logging
  android/src/main/java/com/reactnativeadyen/RNAdyenModule.kt
  ios/RNAdyenModule.swift
Due: ktlint --color --format --android, swiftlint lint --format --fix

more error fixes for iOS
  ios/RNAdyenModule.swift
Due: swiftlint lint --format --fix

fixing Android bug
  android/src/main/java/com/reactnativeadyen/RNAdyenModule.kt
Due: ktlint --color --format --android

some cleanup
  example/ios/Podfile.lock
Due: none

fixing the grade file
  android/build.gradle
Due: none

upping version
  example/ios/Podfile.lock
  package.json
Due: none

Revert "fixing the grade file"
  android/build.gradle
Due: none

fixing template
  example/src/environment.template.ts
Due: none

minor improvement
  src/index.ts
Due: none

yarn update
  example-server/package.json
  example-server/yarn.lock
Due: none

improving example-server
  example-server/index.ts
  example-server/package.json
  example-server/src/routes.ts
  example-server/yarn.lock
Due: none

yarn update
  package.json
  yarn.lock
Due: none

yarn update
  example/package.json
  example/yarn.lock
Due: none

improving example-server logging
  example-server/src/routes.ts
Due: none

pod update
  example/ios/Podfile
  example/ios/Podfile.lock
Due: none
